[submodule "tools/tool-marketing"]
	path = tools/tool-marketing
	url = https://github.com/CharlieUY711/core-marketing.git
[submodule "plataforma"]
	path = plataforma
	url = https://github.com/CharlieUY711/charlie.core.git
[submodule "landings/ODDY_Landing"]
	path = landings/ODDY_Landing
	url = https://github.com/CharlieUY711/ODDY_Web.git
