# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
out
build

# Environment files
.env
.env.local
.env.*.local

# Vercel
.vercel

# Turbo
.turbo

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
